{% extends 'base.html' %}


       {% block content %}
       <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcom to my Ecommerce site</p>
            </div>
        </div>
    </header>
    <div class = "container">
    <div class = "row">

        <centre>
            <div class ="col-8">

                <p align ="justify-content-center" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam eleifend neque, eget suscipit libero cursus eget. Fusce malesuada velit nec mauris suscipit vulputate. Morbi pretium augue eget finibus hendrerit. Ut nec felis volutpat, vestibulum erat quis, suscipit lectus. Praesent aliquam, felis et vestibulum fringilla, diam diam fringilla est, sed accumsan velit tellus quis tellus. Nunc et eleifend urna. Sed ultricies hendrerit maximus. Suspendisse aliquet fringilla enim, non tempus diam pellentesque sit amet. Maecenas sit amet odio eget dolor auctor pretium in eget nunc.

                Cras vitae faucibus velit, non scelerisque sem. Nullam non orci metus. Sed ornare arcu id magna lacinia, sed commodo tellus hendrerit. Curabitur id faucibus magna, sit amet iaculis ligula. In libero ligula, convallis quis sagittis eu, euismod et urna. Maecenas tincidunt feugiat lorem eget feugiat. Etiam vitae enim vitae nunc venenatis viverra ac viverra erat. Curabitur a fermentum elit. Integer malesuada et augue ac vestibulum. Nulla et interdum felis. Integer dapibus imperdiet mollis. Integer ligula libero, hendrerit pharetra convallis consectetur, porta sed lacus. Nunc finibus arcu in turpis ornare, congue lacinia nibh viverra. Fusce sollicitudin massa sem, non pretium nunc malesuada vitae. Morbi molestie, lacus pulvinar condimentum interdum, lorem arcu iaculis ante, ut blandit ante lectus id eros. Donec at lacus est.
                
                <br>Duis ut augue sit amet enim varius porttitor. Suspendisse vitae neque ligula. Aliquam vitae eleifend mi. Pellentesque non urna non diam sollicitudin hendrerit. Donec nec lacus accumsan, pulvinar diam eu, sollicitudin justo. Quisque vel suscipit velit, nec fringilla diam. Ut faucibus arcu sed lorem iaculis, vitae mollis sapien interdum.</br>
                
                Sed aliquam accumsan eros, vitae scelerisque nisi. Etiam at erat mollis tortor sodales efficitur ut ut odio. Ut vel mollis nunc. Praesent egestas luctus convallis. Nunc eleifend ex vitae metus condimentum mollis. Aenean sollicitudin gravida lacinia. Vivamus varius consequat erat sit amet suscipit. Donec nec mauris dolor. In et placerat nisi, a pharetra ante. Donec mauris dolor, cursus vitae egestas ut, varius ac nulla.
                
                Suspendisse non enim ante. Nunc vehicula lorem non dui mattis, id scelerisque diam fermentum. Curabitur a laoreet arcu, ut commodo nibh. Proin vehicula est non erat malesuada, non commodo felis tincidunt. Mauris arcu diam, accumsan vitae nisi nec, sodales imperdiet dolor. Nam non neque quam. Maecenas efficitur dui quam, sit amet suscipit velit pellentesque mollis. Duis sit amet lectus vehicula, viverra velit vitae, feugiat orci. Ut eget arcu consequat, laoreet nunc vitae, pharetra lectus. Etiam laoreet, augue eu pretium consequat, mi dui dictum leo, et dignissim augue ligula vel purus. Vestibulum dapibus tristique neque, non eleifend nunc pulvinar vitae. Sed nec justo odio. Cras sed ante ullamcorper, cursus velit in, fermentum nunc. Proin ut tristique tortor, quis tincidunt leo. Proin ut tempus nisl.
                </p>
            </div>

        </centre>
    </div>
</div>

       {% endblock %}
